.gradle/
.nb-gradle/
.settings/
build/
eclipse/
.classpath
.nb-gradle-properties
.project
*.launch
*.iml
*.ipr
*.iws
.idea/
out/
/bin/
logs/
.cache/
refinedarchitect-test-forge/
refinedarchitect-test-fabric/
refinedarchitect-test-common/
